<div class="container">
  <div class="rounded bg-light">
    <table class="bold w-100">
      <tbody>
        <tr class="row">
          <td>Total Users:</td>
          <td><%= @users_count %></td>
        </tr>
        <tr class="row">
          <td>Total Questions:</td>
          <td><%= @questions_count %></td>
        </tr>
        <tr class="row">
          <td>Total Answers:</td>
          <td><%= @answers_count %></td>
        </tr>
        <tr class="row">
          <td>Total Requests:</td>
          <td><%= @total_requests %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
